*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#_jamyth_page {
  background-color: #2b3a42;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
